# Optional: Provide existing token addresses.
# If these are not provided (or commented out), the deployment script will
# automatically deploy MockERC20 tokens for you.
MNEE_TOKEN_ADDRESS=
USDT_TOKEN_ADDRESS=
USDC_TOKEN_ADDRESS=

# Required for UpgradeContracts.s.sol ONLY
# These are the proxy addresses of your DEPLOYED contracts.
# You will get these from the output of DeployProxies.s.sol
ESCROW_PAYMENT_ADDRESS=
API_PAYMENT_REGISTRY_ADDRESS=
BASE_SEPOLIA_RPC_URL=
ETHERSCAN_API_KEY=